<!-- Footer -->
<footer class="text-center" style="margin-top: 10rem;">
  <!-- Grid container -->
  <div class="container px-4">
    <!-- Section: Social media -->
   

    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>Subscribe to newlester</strong>
            </p>
          </div>

          <div class="col-md-5 col-12">
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="form5Example24" class="form-control" placeholder="Email address" />
            </div>
          </div>
          <div class="col-auto">
            <button data-mdb-ripple-init type="submit" class="btn rounded-1 fw-medium" style="border: #1a1a1d solid 1px;">Subscribe</button>
          </div>
        </div>
      </form>
    </section>
    <section class="mb-0">

      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://twitter.com/matheusz_nied" target="_blank" role="button"><i class="fab fa-twitter"></i></a>

      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://matheusznied.vercel.app/" target="_blank" role="button"><i class="fa-solid fa-globe"></i></i></a>

      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://instagram.com/matheusz.nied" target="_blank" role="button"><i class="fab fa-instagram"></i></a>

      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.linkedin.com/in/matheusz-nied/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i></a>

      <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://github.com/matheusz-nied" target="_blank" role="button"><i class="fab fa-github"></i></a>
    </section>
  </div>

  <div class="text-center p-3 w-100" style="background-color: rgba(0, 0, 0, 0.05);">
    Matheusz.Nied © 2020 Copyright:
    <a class="text-reset fw-bold" href="https://matheusznied.vercel.app/">matheusznied.app</a>
  </div>
</footer>
